<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
</head>

<body>
  <%- include layout %>
  <div class="container">
   <h2>ยินดีต้อนรับสู่บทความของฉัน</h2>
   <a href="/blog/add">เพิ่มบทความ</a>
   <a href="/">กลับ</a> </div>

</body>

</html>
